// $primary: #ff0919;
// Import Bootstrap

// $spacer: 36px;
$enable-negative-margins: true;
$dark: #171717;

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
    background-color: #65DCB4;
};
